PORT=3001

META_DB_HOST=127.0.0.1
META_DB_PORT=5432
META_DB_NAME=ppdm_meta
META_DB_USER=postgres
META_DB_PASS=postgres
META_DB_SCHEMA=public

TARGET_DB_ENABLED=false
TARGET_DB_HOST=127.0.0.1
TARGET_DB_PORT=5432
TARGET_DB_NAME=ppdm_target
TARGET_DB_USER=postgres
TARGET_DB_PASS=postgres
TARGET_DB_SCHEMA=public
